<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Database</title>
</head>
<body>
    <h1><i>Weather Data</i></h1>
    <table border="1"> 
        <tr>
            <th>temperature</th>
            <th>Humidity</th>
            <th>Pressure</th>
            <th>Light</th>
        </tr>
        
            <tr>
                <td>{{ WeatherProject.temperature }}</td>
                <td>{{ WeatherProject.humidity }}</td>
                <td>{{ WeatherProject.pressure }}</td>
                <td>{{ WeatherProject.light }}</td>
            </tr>
     
    </table>
</body>
</html>